.THIS .slds-select {
   width:130px!important;
}
.THIS .slds-input {
   width:130px!important;
}
.THIS th {
    background:#254a9a!important;
    color:white!important;
}
.THIS button {
    background: #254a9a!important;
    color: white!important;
    border: none!important;
    margin:8px!important;
}
.THIS  .label {  
    color: white!important;  
}
.THIS .popup_table .slds-form-element {
     width:130px!important;
}
.THIS .slds-textarea {
    width:130px!important;
}
.THIS .leftPaddingClass {
    padding-left:28px!important;
}
.THIS .date_pick {
        background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    width: 100%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
    position:relative;
    width:130px;
}
.THIS .popup_table .datePicker-openIcon {
    position:absolute;
    left:50px;
    left: 107px;
    top: 9px;
}
.THIS .slds-modal__header {
    background:#254a9a!important;
    color:white!important;
}

.THIS .cust_col1 { width: 10px !important; }
.THIS .cust_col2 { width: 50px;}
.THIS .cust_col3 { width: 200px; text-overflow: hidden; }
.THIS .cust_col4 { width: 50px; }
.THIS .cust_col5 { width: 50px; }
.THIS .cust_col6 { width: 50px; }
.THIS .cust_col7 { width: 50px; }
.THIS .cust_col8 { width: 50px; }
.THIS .cust_col9 { width: 50px; }
.THIS .cust_col10 { width: 50px; }
.THIS .cust_col11 { width: 50px; }
.THIS .cust_col12 { width: 80px; text-overflow: hidden; }
.THIS .cust_col13 { width: 80px; text-overflow: hidden; }
.THIS .cust_col14 { width: 50px; }
.THIS .cust_col15 { width: 50px; }
.THIS .cust_col16 { width: 50px; }
.THIS .cust_col17 { width: 50px; }
.THIS .cust_col18 { width: 50px; }
.THIS .cust_col19 { width: 50px; }
.THIS .cust_col20 { width: 20px; }
.THIS .cust_col21 { width: 40px; }