.THIS .sldc-CycleHeader-head thead{
    background-color:#2b94d6;
}
.THIS .small-txtbox { width: 80px; }
.THIS .slds-page-header { width: 100%; }
.THIS .sldc-gray-box { margin-top: 10px; margin-bottom: 10px; }
.THIS .slds-text-title--caps{
    color:#fff;
}
.THIS table tr thead th,
.THIS label {
    font-weight:bold !important;
}
.THIS .slds-padding{ 
    padding:0px; 
} 
.THIS .slds-section__title{
    padding:20px 0px 20px 10px;
}
.THIS .sdlc-m-bottom-5{
    margin-bottom:5px;
}
.THIS .padding-left-10{
    padding-left:10px;
}
.THIS .upload-button {
    margin-top:10px;
    background-color: #2b94d6;
    color: #ffffff;
    border-radius: 20px;
}

.THIS .divLine {
    border-bottom:1px solid #DCE0E8;
    margin-bottom: 15px;
}

.THIS .heading {
        padding-top: 10px;
        padding-bottom: 5px;
        font-weight: bold;
}
.THIS .slds-table th{white-space: normal;}
.THIS .slds-table td{white-space: normal;}
.THIS .show-content{ display:inline-block; }
.THIS .hide-content{ display:none;}
.THIS .slds-cycleCounttable{ margin-top:10px; }
.THIS .sldc-CycleHeader-head tr { cursor:pointer; }
.THIS .msg-section {padding-bottom:4px; position:absolute; width:50%; margin:0 auto; left: 25%;}
.THIS .display-inline{display:inline-block; }
.THIS .slds-button--neutral-select{border:none; border-right:1px solid #d8dde6; padding-left: 5px;
padding-right: 10px;
border-radius: 0px;}
.THIS .select-file-btn{border: 1px solid #d8dde6;
border-radius: 5px;
padding: 2px;
width: 97%;
}
.THIS .cc-user{background: #a8b7c7;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px;}
.THIS .float-right{float:right;} 
.THIS .m-t-70 {margin-top:70px;}
.THIS .cust-ddp-minh{height:36px; }
.THIS .cust-ddp-maxh{height: 36px; }
.THIS .uiInput--input.input[disabled]{background-color:#ececec; }
.THIS .uiInput--input .input[disabled]{background-color:#ececec; }
.THIS .slds-file-selector__dropzone{ border:none; }
.THIS .m-b-7{ margin-bottom:7px; }
.THIS .sWrap ul li {cursor: pointer;}
.THIS .uiInput--checkbox input[type=checkbox][disabled]{background-color: #2b94d6;margin-left: 25px;}
.THIS input.uiInput--checkbox[type=checkbox][disabled]{
    background-color: #2b94d6;
    margin-left: 25px;
     
}
@media all and (max-width: 1024px) {
    .THIS .slds-dropdown {
        min-width: 19rem;
    }
}
.THIS .cyclecount-thead tr { cursor: default !important; }
.THIS .slds-file-selector__text { overflow: hidden; height: 15px; width: 230px; }
.THIS .cyclecount-thead tr th div { float: left; font-weight: bold; }

.THIS .paginate_button, .THIS span.pagination { float: left; background: #099AD6; color: #fff; margin-right: 2px; }
.THIS .paginate { width: 80px; float: left; margin-right: 4px; margin-left: 2px; }
.THIS .paginate_left { float: left; font-weight: bold; }
.THIS .paginate_right { float: right; }
.THIS .paginate_right .disable { background: #ececec !important; color: #000; cursor: no-drop; }
.THIS .sldc-CycleHeader-head tr.paginate_row { cursor: default; }
.THIS .m-t-25 { margin-top: 25px; }
.THIS svg { cursor: pointer; }
.THIS .makebold { font-weight: bold; }
.THIS .required{ color:red; }