.THIS {
    background:white;
     padding-bottom:10px;
}

.THIS .logo {
    width:120px;
    background: #f3f2f2;
}
.THIS .page_title {
    margin-top: 20px;
    margin-left: 10px;
    color: #f1653c;
}
.THIS th{   
    
    font-weight: bold; 
}