.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .OuterMost{
    background-color : #f0f8fc;
}
.THIS .AllowScroll{
    white-space:nowrap;
    overflow:hidden;
}
.THIS .header-btn {
    margin: 10px 10px 10px 0px;
}
.THIS .header-btn:nth-of-type(1) {

}
.THIS .card-holder {
    font-size: 10px;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    margin: 8px 7px 6px 8px;
 }

.THIS .card-holder >div{
     margin: 6px 0px 0px 0px;
 }

.THIS .lower-third {
   /* font-size: 10px;*/
    white-space:nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .4);
    padding: 2px 2px;
    border: 1px solid lightgrey;
    /*border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;*/
}

.THIS .lower-third > div {
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.THIS h1 {
    font-size: 16px !important;
    /*font-weight: 300*/;
    padding: 0;
    margin: 0;
}

.THIS .open-button {
    position: absolute;
    bottom: 6px;
    right: 4px;
}

.THIS .truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 320px) {
   /* .THIS .header-btn:nth-of-type(1){
        float: right;
    }
    .THIS .header-btn:nth-of-type(2){
        float: left;
    }
    .THIS .header-btn:nth-of-type(3){
        float: left;
    }
    .THIS .header-btn:nth-of-type(4){
        float: right;
    }*/
    .THIS .mobile-btn {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
  
}