.THIS.wrapper {
    background:white;
}
.THIS .logo {
    width:120px;
    background: #f3f2f2;
}
.THIS .page_title {
   margin-top: 17px;
   color: #f15349;
}
.THIS .table_heading th {
    font-weight:600;
}