.THIS .labelClass{
font-size : 16 px;
font-weight : 400;
margin: -1 px;
color: #54698d;
  
}
@media (max-width: 600px){
   .THIS .scrollerSize > div {
      height:30%;
     /* overflow :scroll;
      white-space: nowrap;     */
      
   }
}