<apex:page standardController="price_request_PandP__c"
    recordSetVar="PrList"
    extensions="PRForPandPMassApproval"
    showHeader="false"
    id="muopp"
    action="{!validateLoginUser}"
>
<apex:slds />
<script>
function myFunction() {
  var errorMsg = '{!validateUser}';
  if(errorMsg.length>3)
    alert(errorMsg );
}
</script>

<body onload="myFunction()">
</body>
    <apex:form id="muform">
   
    <div class="slds-text-heading_medium"> Price request PandP records mass Approve/Reject page.</div>
    <!--
        <apex:pageMessage summary="Selected Collection Size: {!mySelectedSize}" 
            severity="info"
            id="mupms"
        />
        <apex:pageMessage summary="Record Set Size: {!myRecordsSize}"
            severity="info"
            id="mupmr"
        />  -->
         <apex:pageMessages />
        <apex:pageBlock mode="edit" id="mub1" rendered="{!if(len(validateUser)>2,false,true)}" >
           
          
            <apex:pageBlockButtons location="bottom" id="mubut">
                <apex:commandButton value="Approve All" action="{!approveRecs}" id="butsav" styleClass="slds-button slds-button_neutral" status="counterStatus"/>
                <apex:commandButton value="Reject All" action="{!rejectRecs}" id="butcan" styleClass="slds-button slds-button_neutral" status="counterStatus"/>
                <apex:commandButton value="Cancel" action="{!cancelPage}" id="butcan3" styleClass="slds-button slds-button_neutral" status="counterStatus"/>
                
            </apex:pageBlockButtons>
        </apex:pageBlock>
        <apex:pageBlock title="Selected Price request PandP Records" id="muselectedlist" rendered="{!if(len(validateUser)>2,false,true)}" >
          
                        
               <table class="slds-table slds-table_bordered slds-max-medium-table_stacked-horizontal">       
               <thead>
               <tr class="slds-text-title_caps">
                   <th class="slds-cell-shrink" scope="col">
                       <div class="slds-truncate" title="Transaction No.">
                       Transaction No.
                   </div></th>
               <th scope="col">
                   <div class="slds-truncate" title="Approval Status">
                   Approval Status  
                   </div></th>
               <th scope="col">
                   <div class="slds-truncate" title="Requested Quantity (Tons)">
                   Requested Quantity (Tons)  
                   </div></th>
               <th scope="col">
                   <div class="slds-truncate" title="Requested Price Sq m - mm  ">
                   Requested Price Sq m - mm  
                   </div></th>
               <th scope="col">
                   <div class="slds-truncate" title="Valid From">
                   Valid From  
                   </div></th>
               <th scope="col">
                   <div class="slds-truncate" title="Valid To">
                   Valid To  
                   </div></th>
               <th scope="col">
                   <div class="slds-truncate" title="Product Name ">
                   Product Name 
                   </div> </th>
               <th scope="col">
                   <div class="slds-truncate" title="Product Name ">
                   Customer Name </div> </th>
              
               <th scope="col">
                   <div class="slds-truncate" title="Approval submission date">
                   Approval submission date </div> </th>
                   
               <th scope="col">
                   <div class="slds-truncate" title="Approval requested by">
                   Approval requested by </div> </th>
                   
               <th scope="col">
                   <div class="slds-truncate" title="Last Approved Price">
                   Last Approved Price </div> </th>
                   
              
                  
               </tr>
               </thead>
                <apex:repeat value="{!selected}" var="PR">
              
                 <tbody>
                 <tr class="slds-hint-parent">
                     <td class="slds-cell-shrink" data-label="TRANSACTION NO.">
                         <div class="slds-truncate" title="TRANSACTION NO.">
                         <apex:outputText value="{!PR.name}" /> 
                         </div> </td> 
                <td class="slds-cell-shrink" data-label="APPROVAL STATUS">
                         <div class="slds-truncate" title="APPROVAL STATUS">
                        <apex:outputText value="{!PR.Approval_Status__c}" />  
                        </div></td> 
               <td class="slds-cell-shrink" data-label="REQUESTED QUANTITY (TONS)">
                         <div class="slds-truncate" title="REQUESTED QUANTITY (TONS)">
                         <apex:outputText value="{!PR.Requested_Quantity__c}" />  
                         </div>
                         </td> 
                <td class="slds-cell-shrink" data-label="REQUESTED PRICE SQ M - MM">
                         <div class="slds-truncate" title="REQUESTED PRICE SQ M - MM">
                         <apex:outputText value="{!PR.Required_Price__c}" /> 
                         </div> </td> 
                <td class="slds-cell-shrink" data-label="VALID FROM">
                         <div class="slds-truncate" title="VALID FROM"> 
                          <apex:outputText value="{0,date,dd-MMM-yyyy}" >
              <apex:param value="{!PR.Valid_From__c}" /></apex:outputText>
              </div> </td>
              

              <td class="slds-cell-shrink" data-label="VALID TO">
                         <div class="slds-truncate" title="VALID TO"> 
               <apex:outputText value="{0,date,dd-MMM-yyyy}" >
              <apex:param value="{!PR.Valid_To__c}" /></apex:outputText>  
              </div></td>
               
               <td class="slds-cell-shrink" data-label="CUSTOMER">
                         <div class="slds-truncate" title="CUSTOMER"> 
                <apex:outputText value="{!PR.Product_lookup__r.Name}" /> 
                </div> </td>
               
               <td class="slds-cell-shrink" data-label="PRODUCT NAME">
                         <div class="slds-truncate" title="PRODUCT NAME"> 
               <apex:outputText value="{!PR.Customer__r.Name}" />  
               </div></td> 
               
               <td class="slds-cell-shrink" data-label="Approval submission date">
                         <div class="slds-truncate" title="Approval submission date"> 
               <apex:outputText value="{!PR.Approval_submission_date_time__c}" />  
               </div></td> 
               
               <td class="slds-cell-shrink" data-label="Approval requested by">
                         <div class="slds-truncate" title="Approval requested by"> 
               <apex:outputText value="{!PR.Approval_requested_by__c}" />  
               </div></td> 
               
               <td class="slds-cell-shrink" data-label="Last Approved Price">
                         <div class="slds-truncate" title="Last Approved Price"> 
               <apex:outputText value="{!PR.Last_approved_price__c}" />  
               </div></td> 
                 
                
                </tr>
                </tbody>
                </apex:repeat>
                </table>       
                
            
                 
          
          
          </apex:pageBlock>
          <br/><br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <apex:commandButton value="Back" action="{!cancelPage}" id="butcan3" styleClass="slds-button slds-button_neutral"/>
                          <apex:actionStatus startText=" (Processing...)"  id="counterStatus"/>
            
            
             <apex:outputpanel >
        <apex:actionstatus id="status">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                       height: 100%;opacity:0.65;width:100%;"> 
                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Please Wait...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
    </apex:outputpanel>

    </apex:form>
</apex:page>