.THIS .mySlides {
    display:none ;
}
.THIS .txtCenter{
    top: 44%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.THIS .overlayCls{
  
}

.THIS .slds-card__body {
    height: 288px;
    margin-bottom: 0;
}
/* Slideshow container */
.THIS .slideshow-container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.THIS .prev,.THIS .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.THIS .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.THIS .prev:hover,.THIS .next:hover {
  /*background-color: rgba(0,0,0,0.8); */
}

.THIS .btn.next {
    top: 44%;
    right: 6px;
}

.THIS .btn.prev {
    top: 44%;
    left: 6px;
}

/* Caption text */
.THIS .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.THIS .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.THIS .dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.THIS .active,.THIS .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.THIS .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .THIS .prev, .THIS .next,.THIS .text {font-size: 11px}
}

.THIS .filmstrip {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all .5s ease-in-out;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    height: 100%;
    width: 100%;
}