.THIS th {
    background:#254a9a!important;
    color:white!important;
}
.THIS .uline {
    text-decoration:underline!important;
    color:#0054db!important;
    cursor: pointer;
}
.THIS button {
       background: #254a9a!important;
    color: white!important;
    border: none!important;
}
.THIS button  label {  
    color: white!important;  
}

button.THIS{
    background: #254a9a!important;
    color:white!important;
    border:none!important;
    margin:8px!important;
}
.THIS  .label {  
    color: white!important;  
}
.THIS .slds-select {
   width:130px!important;
}
.THIS .fullwidth .slds-select {
   width: 100% !important;
}
.THIS .slds-input {
   width:130px!important;
}
.THIS .border-cust {
    border: 1px solid red !important;
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
}