.THIS .container{
    background: grey;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5);
    font-weight: bold;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}

.THIS {
    background-color: #FFFFFF;
}