.THIS .iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.THIS .iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.THIS .google-maps {
position: relative;
padding-bottom: 75%; /* This is the aspect ratio */
height: 0;
overflow: hidden;
}

.THIS .google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}