.THIS {
     background: white;
    padding-bottom: 10px;
}
.THIS .logo  {
        width: 120px;
    background: #f3f2f2;
}
.THIS .page_title {
        margin-top: 20px;
    margin-left: 10px;
    color: #f15349;
}
.THIS .pop_head {
    background:#f3f2f2;
    color: #20489b; 
}
.THIS th {
    font-weight:400;
}