.THIS .slds-card__body {
	height: 220px;
    margin-bottom : 0;
}

.THIS .slds-modal__container {
    margin-top: 100px;
    height: 90%;
    width: 90%;
    max-width: initial;
}

.THIS .slds-modal__close {
    position: absolute;
    top: 100px;
    right: 5%;
}

.THIS .title {
    padding-left: 10px;
    padding-top: 6px;
}

.THIS .cardClass{
    height: 500px;
}